<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}联系我们{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <style>
        html, h1, h2, h3, h4 { margin:0; padding:0; }
        ul, ol { margin-left:0; list-style: none; text-align:center; }
        a { text-decoration:none; color:#333; border:none; }
        img { border:none; }
        form, table { margin:0px; padding:0; }
        body, #body { margin: 0 auto; max-width: 360px; min-height: 568px; }
        body, h1, h2, h3, h4, a { font-family:'MHeiPRC-Bold', '微软雅黑', 'Microsoft YaHei'; }
        
        #body {
            position: relative;
            background: transparent url('web/images/bg.jpg') no-repeat center top;
            background-size: 100% auto;
        }
        
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        
        <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
